/**Overall**/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    margin: 0 auto;
    width: 100%;
    color: black;
}

a {
    text-decoration: none;
}


/* img {} */


/** end of overall**/


/**Navigation **/

nav {
    top: 0px;
    left: 0.294921875px;
    width: 100%;
    background: #990000 0% 0% no-repeat padding-box;
    opacity: 1;
}

#IuLogo {
    height: 75px;
}

#horizontal-list li {
    display: inline;
}

a {
    text-align: left;
    font: Regular 28px/36px BentonSans;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}

#primary {
    height: 80px;
    line-height: 80px;
    width: 100%;
    float: left;
}


/* #primary ul {} */

#primary li {
    float: left;
    list-style-type: none;
    width: 13%;
    text-align: center;
}

#primary a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}


/**End of Navigation **/

.container {
    max-width: 100%;
}

#CohortCulture1 {
    padding: 10px;
    top: 2793px;
    left: 140px;
    width: 536px;
    height: 335px;
}

#CohortCulture2 {
    padding: 10px;
    top: 2793px;
    left: 692px;
    width: 475px;
    height: 335px;
}

#CohortCulture3 {
    padding: 10px;
    top: 3144px;
    left: 140px;
    width: 398px;
    height: 335px;
}

#CohortCulture4 {
    padding: 10px;
    top: 3144px;
    left: 554px;
    width: 613px;
    height: 335px;
}


/* #video {
    padding-left: 830px;
    padding-top: 152px;
    top: 1229px;
    left: 830px;
    width: 950px;
    height: 666px;
} */



/* home page*/

#container1 {
    top: 118px;
    left: 0px;
    /* width: 1920px; */
    height: 961px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
#container1 .col{
    top: 563px;
    left: 140px;
    width: 487px;
    height: 67px;
    }

#container2 {
    Padding-top:150px;
    top: 1077px;
    left: 0px;
    /* width: 1920px; */
    height: 968px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    opacity: 1;
}

#container3 {
    Padding-top:150px;
    top: 2045px;
    left: 0px;
    /* width: 1920px; */
    height: 598px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

#container4 {
    Padding-top:150px;
    top: 2643px;
    left: 0px;
    /* width: 1920px; */
    height: 986px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    opacity: 1;
}

#container5 {
    Padding-top:150px;
    top: 3629px;
    left: 0px;
    /* width: 1920px; */
    height: 820px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

#container6 {
    Padding-top:150px;
    top: 4449px;
    left: 0px;
    /* width: 1920px; */
    height: 1179px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    opacity: 1;
}
.col table{
    width: 950px;
   }
#container6 .top{
    text-height:464px;
    vertical-align: bottom;
    padding-bottom: 8px;
}
#container6 .bottom{
    text-height:401px;
    vertical-align: top;
}
#container6 td{
    padding-top: 8px;
}
#studentwork1 #studentwork2{
    vertical-align: text-bottom;
}
#studentwork3 #studentwork4{
    vertical-align: text-top;
}

#container7 {
    Padding-top:150px;
    top: 5628px;
    left: 0px;
    /* width: 1920px; */
    height: 773px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

#container8 {
    Padding-top:150px;
    top: 6401px;
    left: 0px;
    /* width: 1920px; */
    height: 723px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    opacity: 1;
}

#container9 {
    Padding-top:150px;
    top: 7129px;
    left: 0px;
    /* width: 1920px; */
    height: 1080px;
    background: #990000 0% 0% no-repeat padding-box;
    opacity: 1;
}



/* Adding CSS for the faculty page */

.faculty {
    padding-left: 140px;
}

.faculty #profileimg {
    width: 290px;
    height: 330px;
}

.faculty .title h2 {
    padding-top: 220px;
}







/* Typography */

h2 {
    text-align: left;
    font: Medium 42px/115px BentonSans;
    letter-spacing: 0;
    color: #191919;
    opacity: 1;
}

h1 {
    text-align: left;
    font: Bold 85px/115px Benton Sans;
    letter-spacing: 0;
    color: #191919;
    opacity: 1;
}

footer {
    width: 100%;
    background-color: #990000;
}